/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.userControls {
        --offset: 20rem;
        position: fixed;
        top: var(--offset);
        left: var(--offset);
        right: var(--offset);
        width: calc(100% - var(--offset) * 2);
        display: flex;
        justify-content: space-between;
        padding-left: min(5vmin, env(safe-area-inset-left));
        padding-right: min(5vmin, env(safe-area-inset-right));
        z-index: 1;
}